__pycache__/
*.pyc
*.pyo
*.pyd


venv/
*/venv/


db.sqlite3
*.log


# yolov5s.pt
# *.pt
# runs/
YOLOv5/venv/

.DS_Store


.vscode/

PhotoViewer/.gradle/
PhotoViewer/.idea/
PhotoViewer/build/
PhotoViewer/app/build/
